.header
  width: 50%
  margin: auto
  display: flex
  background-color: #345851
  height: 50px
  color: white

.layout
  width: 50%
  margin: auto
  display: flex

.layout-left-side
  width: 30%
  background-color: #4c7d76


.layout-right-side
  width: 70%
  margin: 20px

a
  text-decoration: none

.active
  background-color: #00bcd4 !important