<!DOCTYPE html>
<html lang="en">
{% load render_bundle from webpack_loader %}
<head>
    <meta charset="UTF-8">
    <title>Messenger</title>
    <link rel="manifest" href="/static/core/manifest/manifest.json">
</head>
<body>
<div id="root" class="root"></div>
{% render_bundle 'app' %}

<script>
    if ('serviceWorker' in navigator) {
        window.addEventListener('load', function () {
            navigator.serviceWorker
                .register('/service-worker.js')
                .then(function (registration) {
                // Registration was successful
                console.log('ServiceWorker registration successful with scope: ', registration.scope);
            }, function (err) {
                // registration failed :(
                console.log('ServiceWorker registration failed: ', err);
            }).catch(function (err) {
                console.log(err)
            });
        });
    } else {
        console.log('service worker is not supported');
    }
</script>

<script>
    window.addEventListener('appinstalled', (evt) => {
        fetch('/analytics/pwa_installed/', {
            method: 'GET',
            credentials: 'include',
        });
    });
</script>


</body>
</html>